html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

svg {
  background-color: whitesmoke;
}

#canvas {
  min-width: 1200px;
  min-height: 600px;
}
